*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

   

 
 .fond{
    background:url("fond1intro.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;
    
}

.container{
    max-width: 600px;
    color: black;
    padding-top: 150px;
    margin: auto;
}


/* merge 2 parti */
.nouveaute-fluid{
    background-color: pink;
    overflow: auto;
    text-align: left;
}





.nouveau-left-fluid{
    float: left;
    width: 50%;
    padding-left: 100px;
    padding-top: 50px;
}

.carre{
  padding-left: 20px;
    color: black;
  
}

.nouveau-right-fluid{
    float: left;
    width: 50%;
    padding-left: 100px;
    padding-top: 100px;
    
}