*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Reboto', sans-serif;
    
 }
 
 @media (max-width:375px) {
     #infos_mid{
         display: flex;
         flex-direction: column;
     }
 }

 body{
     display: block;
 }

 #infos_mid{
    display: flex;
    flex-direction: row;
}
   

 
 .fond{
    background:url("fond1intro.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;
    -webkit-filter: brightness(50%);
    
}

.container{
    color: whitesmoke;
    -webkit-filter: brightness(100%);
    max-width: 600px;
    padding-top: 50px;
      margin: auto;
  
  }



/* merge 2 parti */
.nouveaute-fluid{
    background-color: pink;
    overflow: auto;
    text-align: left;
}





.nouveau-left-fluid{
    float: left;
    width: 50%;
    padding-left: 100px;
    padding-top: 50px;
}

.carre{
  padding-left: 20px;
    color:gray;
  
}

.nouveau-right-fluid{
    float: left;
    width: 50%;
    padding-left: 100px;
    padding-top: 100px;
    
}

.question{
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.finbutton
{
    padding: 10cm;
    color: #ffb400;
}


.choosefile
{
    padding-left: 10px;

}